# Python
__pycache__/
*.py[cod]

# Virtuálne prostredia
env/
venv/
.venv/

# Tajomstvá
.env

# Databáza
db.sqlite3
*.sqlite3

# Dáta, reporty, logy, generované výstupy (necommitovať!)
logs/
Reports/
Scripts/
download_logs/
download_trans/
ems_logs/
PAYWELL/
*.log
*.xlsx
*.zip
*.pdf
*.csv
media/

# IDE / OS
.vscode/
.idea/
.DS_Store
