{% extends "base.html" %}

{% block body %}
<style>
#table-wrapper {
  position:relative;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;

}
  #table-scroll {
    height:283px;
    overflow:scroll;
    margin-top:20px;
  }
  #table-wrapper table {
    width:100%;

  }
  #table-wrapper table * {
    /*background:yellow;*/
    color:black;
  }
  #table-wrapper table thead th .text {
    position:absolute;
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
    border:1px solid red;
  }
  td, th {
      padding: 0px;
      min-width: 0px;
      }
  </style>



<div class="jumbotron border shadow" style="background-color: #337ab7; padding: 20px;">
  <div class="row" style="margin-right: 0px; margin-left: 0px;">
      <div class="col-md-12 offset-2" >
          <form action="">
              <div class="input-group" style="display: flex;">
                <input type="text" name="x" placeholder="PHONE"
                class="form-control form-control-lg" />
                <b> <p style="margin-top: 7px;">OR</p> </b>
                <input type="text" name="y" placeholder="USERNAME"
                class="form-control form-control-lg" />
                  <div class="input-group-append">
                      <button class="btn-lg">Search</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>

<div id="container" style="width: 100%;">
  <div id="table-wrapper">
    <div id="table-scroll">
  <table class="table table-hover " style="  white-space: nowrap; border: ridge;">
    <!-- <thead>
       <td colspan = "4">  <b style="color: #337ab7;"> Users in table USER_DETAIL. Query: <i style="color: #337ab7;">"select * from CIS_AC.USER_DETAIL"</i></b></td> 
    <tr style="background-color: darkgrey; text-align: center;">
      <th style="text-align: center;">BO Link</th>
      <th style="text-align: center;">USER_ID</th>
    </tr></thead> -->
    <tbody>
      <tr align="center">
        <th>Úspěšně přihlášený: {{ uspesne_login|safe }} <br>
          Nepřihlášený, nesprávné heslo: {{ neprihlaseny_heslo|safe }} <br>
          Nepřihlášený, nesprávé jednorázové heslo: {{ neprihlaseny_jed_heslo|safe }} <br>
          Nepřihlášený, nepovolené obchodní místo: {{ neprihlaseny_pos|safe }} <br>
        </th>
        <th><canvas id="pie-chart"></canvas></th>
      </tr>
    </tbody>
    </table>

  </table>
  </div>
</div>

</div>

<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
 -->

<script>

var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: ['#50824d', '#e8585b', '#A9A9A9', '#C0C0C0', '#D3D3D3'],
          // label: 'Population'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true,
        title: {
                display: true,
                text: 'Login ' + '(sysdate-0,"DD")'
            },
        maintainAspectRatio: false,
        // cutoutPercentage: 80,
        tooltips: {
        callbacks: {
        label: function(tooltipItem, data) {
          return data['labels'][tooltipItem['index']] + ': ' + data['datasets'][0]['data'][tooltipItem['index']] + '%';
        }
      }
    }

      }
    };



    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };


</script>



<div id="table-wrapper">
  <div id="table-scroll">
    <td colspan = "4"><b style="color: #337ab7; float: left;">Login result</b></td>
    <td><p style="float: right; padding-right: 10px;">Filter: <input id="myInput_1" type="text" placeholder="Search.." style="margin: 0px; width: auto; text-align: left; padding: 0px;"></p></td>
    <br>
  <td>
    <div class="dropdown">
      <button>Query</button>
      <div class="dropdown-content"><p>
        SELECT l.USER_NAME, SELFCARE_USER_GROUP_ID, det.PHONE, ud.USER_ID, det.EMAIL, CAST(FROM_TZ(CAST(l.LOGIN_DATETIME AS TIMESTAMP), 'GMT') AT TIME ZONE 'CET' AS DATE) AS LOGIN_DATETIME, lr.LOGIN_ATTEMPT_RESULT_NAME, ud.LAST_LOGIN_DATETIME, ud.LAST_ACTIVITY_DATETIME FROM CIS_AC.LOGIN_ATTEMPT l LEFT JOIN CIS_AC.LOGIN_ATTEMPT_RESULT_L lr ON l.LOGIN_ATTEMPT_RESULT_CODE=lr.LOGIN_ATTEMPT_RESULT_CODE AND lr.LANGUAGE_CODE ='CS' LEFT JOIN CIS_AC.USER_DATA ud ON ud.USER_ID=l.USER_ID LEFT JOIN CIS_AC.USER_DETAIL det ON det.USER_ID =l.USER_ID WHERE LOGIN_DATETIME >= TRUNC(sysdate-0,'DD')-(2/24) AND l.LOGIN_ATTEMPT_RESULT_CODE !=1 AND ud.USER_ID IS NOT NULL ORDER BY l.LOGIN_DATETIME DESC;
                      </p>
      </div>
    </div>
  </td>
      <table id="tab1" class="table table-hover " style="  white-space: nowrap; border: ridge;">
        <thead>
         
        <tr style="background-color: darkgrey;">
          <th>BO_Link</th>
          <th>PHONE</th>
          <th>USERNAME</th>
          <!-- <th>SELFCARE_USER_GROUP_ID</th> -->

          <th>EMAIL</th>
          <th>LOGIN_DATETIME</th>
          <th>LOGIN_ATTEMPT_RESULT_NAME</th>

        </tr></thead>
        <tbody >
          {% for row in sc_result %}

          {% if row.SELFCARE_USER_GROUP_ID == None %}
          <tr align="center">
            <th ><a href="https://cis-host.internal.example.com/security/user/detail/{{row.USER_ID}}" target="_blank"> <i style='color: forestgreen;'> BO {{ row.USER_NAME }} </i></a></th>
            <th>{{ row.PHONE }}</th>
            <th>{{ row.USER_NAME }}</th>
            <!-- <th>{{ row.SELFCARE_USER_GROUP_ID }}</th> -->

            <th>{{ row.EMAIL }}</th>
            <th>{{ row.LOGIN_DATETIME |date:"d-m-Y G:i:s" }}</th>
            <th>{{ row.LOGIN_ATTEMPT_RESULT_NAME }}</th>

          {% else %}

          <tr align="center">
            <th ><a href="https://cis-host.internal.example.com/customer-management/selfcaresupervisor/detail/?customerid={{row.SELFCARE_USER_GROUP_ID}}" target="_blank"> <i style='color: forestgreen;'>SC {{ row.USER_NAME }}</i></a></th>
            <th>{{ row.PHONE }}</th>
            <th>{{ row.USER_NAME }}</th>
            <!-- <th>{{ row.SELFCARE_USER_GROUP_ID }}</th> -->

            <th>{{ row.EMAIL }}</th>
            <th>{{ row.LOGIN_DATETIME |date:"d-m-Y G:i:s" }}</th>
            <th>{{ row.LOGIN_ATTEMPT_RESULT_NAME }}</th>

            {% endif %}


          {% endfor %}

        </tr>
      </tbody>
      </table>
  </div>
  <button id="createXLSX">Export XLSX</button>
</div>

{% if sc_sms != '' %}

<div id="table-wrapper">
  <div id="table-scroll">
    <td colspan = "4"><b style="color: #337ab7;">SMS Notifications</b></td>
    <td><p style="float: right; padding-right: 10px;">Filter: <input id="myInput_2" type="text" placeholder="Search.." style="margin: 0px; width: auto; text-align: left; padding: 0px;"></p></td>
    <br>
  <td>
    <div class="dropdown">
      <button>Query</button>
      <div class="dropdown-content"><p>
        select a.USER_ID as "ID_Uzivatela", a.PHONE as "Telefonne_cislo", det.USER_NAME as "Username", CAST(FROM_TZ(CAST(a.CREATED_ON AS TIMESTAMP), 'GMT') AT TIME ZONE 'CET' AS DATE) as "Datum_odoslania_SMS" from CIS_AC.LOGIN_OTP a LEFT JOIN CIS_AC.USER_DETAIL det ON det.USER_ID=a.USER_ID where /*a.phone like '+48692402117' or det.USER_NAME like '4007701397' and*/ a.CREATED_ON >= TRUNC(sysdate-10,'DD')-(2/24) ORDER BY CREATED_ON desc;
                      </p>
      </div>
    </div>
  </td>
      <table id="tab2" class="table table-hover " style="  white-space: nowrap; border: ridge;">
        <thead>
        <tr style="background-color: darkgrey;">
          <th>ID_User</th>
          <th>PHONE</th>
          <th>USERNAME</th>
          <th>SMS sending date</th>

        </tr></thead>
        <tbody >
          {% for row in sc_sms %}
          <tr align="center">
            <th>{{ row.ID_Uzivatela }}</th>
            <th>{{ row.Telefonne_cislo }}</th>
            <th>{{ row.Username }}</th>
            <th>{{ row.Datum_odoslania_SMS |date:"d-m-Y G:i:s" }}</th>
 

          {% endfor %}

        </tr>
      </tbody>
      </table>
  </div>
  <button id="createXLSX_2">Export XLSX</button>
</div>

{% endif %}


<script>
  $(document).ready(function(){
    $("#myInput_1").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#tab1 tbody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
    $("#myInput_2").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#tab2 tbody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });

  
  // export excel 
  var btn = document.getElementById("createXLSX");
  var fileName = "export_login";
  var fileType = "xlsx";
  btn.addEventListener("click", function() {
    var table = document.getElementById("tab1");
    var wb = XLSX.utils.table_to_book(table, {sheet: "Sheet JS"});
    return XLSX.writeFile(wb, null || fileName + "." + (fileType || "xlsx"));
  });
  
  var btn = document.getElementById("createXLSX_2");
  var fileName1 = "export_sms";
  var fileType = "xlsx";
  btn.addEventListener("click", function() {
    var table = document.getElementById("tab2");
    var wb = XLSX.utils.table_to_book(table, {sheet: "Sheet JS"});
    return XLSX.writeFile(wb, null || fileName1 + "." + (fileType || "xlsx"));
  });
  </script>

{% endblock %}