{% extends "eets/base.html" %}

{% block body %}

<div class="jumbotron border shadow" style="background-color: #337ab7; padding: 20px;">
  <div class="row" style="margin-right: 0px; margin-left: 0px;">
      <div class="col-md-12 offset-2" >
          <form action="">
              <div class="input-group" style="display: flex;">
                <input type="text" name="a" placeholder="snap_id"
                class="form-control form-control-lg" />
                <b> <p style="margin-top: 7px;"><</p> </b>
                <input type="text" name="b" placeholder="snap_id"
                class="form-control form-control-lg" />
                  <div class="input-group-append">
                      <button class="btn-lg">Search</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>

<style>
  #table-wrapper {
    position:relative;
    padding-bottom: 20px
  }
  #table-scroll {
    height:283px;
    overflow:scroll;  
    margin-top:20px;
  }
  #table-wrapper table {
    width:100%;
  
  }
  #table-wrapper table * {
    /*background:yellow;*/
    color:black;
  }
  #table-wrapper table thead th .text {
    position:absolute;   
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
    border:1px solid red;
  }
  td, th {
      padding: 0px;
      min-width: 0px; 
      }
  </style>

<div class="content" style="padding-left: 15px; padding-right: 15px;">

<!-- <h3 style="text-align: center;">Jobs</h3> -->
<div id="table-wrapper">
  <div id="table-scroll">
    <td colspan = "5" style="white-space: initial"><b style="color: #337ab7;">Automatic Workload Repository (AWR). Query: <i>"SELECT output FROM TABLE (dbms_workload_repository.awr_report_html(1125152219,1,:a,:b))"</i></b></td><br>
      <td colspan = "5">Use the setting from the profile. Preset: HN:<b>oradb-a01.infra.internal.example.com</b> // SN: <b>primary_bill.infra.internal.example.com</b></td>
      <td><p style="float: right; padding-right: 10px;">Filter: <input id="myInput_1" type="text" placeholder="Search.." style="margin: 0px; width: auto; text-align: left; padding: 0px;"></p></td>
      <br>
      <td>
        <div class="dropdown">
          <button>Query</button>
          <div class="dropdown-content"><p>
            SELECT SNAP_ID,
                        DBID,
                        INSTANCE_NUMBER,
                        CAST(FROM_TZ(CAST(BEGIN_INTERVAL_TIME AS TIMESTAMP), 'GMT') AT TIME ZONE 'CET' AS DATE) as BEGIN_INTERVAL_TIME,
                        CAST(FROM_TZ(CAST(END_INTERVAL_TIME AS TIMESTAMP), 'GMT') AT TIME ZONE 'CET' AS DATE) as END_INTERVAL_TIME
                        FROM dba_hist_snapshot
                        WHERE BEGIN_INTERVAL_TIME > trunc(sysdate-7,'DD')
                        ORDER BY SNAP_ID desc,
                        INSTANCE_NUMBER
        </p>
          </div>
        </div>
      </td>
<table id="tab1" class="table table-hover " style="  white-space: nowrap; border: ridge;">
    <thead>

    <tr style="background-color: darkgrey;">
      <th style="min-width: 0px;">SNAP_ID</th>
      <th style="min-width: 0px;">DBID</th>
      <th style="min-width: 0px;">INSTANCE_NUMBER</th>
      <th style="min-width: 0px;">BEGIN_INTERVAL_TIME</th>
      <th style="min-width: 0px; ">END_INTERVAL_TIME</th>
    </tr>
  </thead>
  <tbody>
    {% for row in AWR %}
  <tr align="center">
    <th style="min-width: 0px; background-color: dimgray;">{{ row.SNAP_ID }}</th> 
    <th style="min-width: 0px;">{{ row.DBID }}</th>
    <th style="min-width: 0px;">{{ row.INSTANCE_NUMBER }}</th>    
    <th style="min-width: 0px;">{{ row.BEGIN_INTERVAL_TIME }}</th>    
    <th style="min-width: 0px; background-color: dimgray;">{{ row.END_INTERVAL_TIME }}</th>    

    {% endfor %}

  </tr>
</tbody> 
</table>




</div>
<button id="createXLSX">Export XLSX</button>
</div>
{% if 'a' in request.GET and 'b' in request.GET %}
<div style="text-align: center;">
  <a href="{% url 'work:open_awr'  %}" target="_blank"><button>Open AWR</button></a>
</div>




{% endif %}
</div>

<script>
  $(document).ready(function(){
    $("#myInput_1").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#tab1 tbody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
    
  });

  // export excel 
  var btn = document.getElementById("createXLSX");
  var fileName = "export_snapId";
  var fileType = "xlsx";
  btn.addEventListener("click", function() {
    var table = document.getElementById("tab1");
    var wb = XLSX.utils.table_to_book(table, {sheet: "Sheet JS"});
    return XLSX.writeFile(wb, null || fileName + "." + (fileType || "xlsx"));
  });
  </script>
{% endblock %}

