{% extends "eets/base.html" %}

{% block body %}

<div class="jumbotron border shadow" style="background-color: #337ab7; padding: 20px;">
  <div class="row" style="margin-right: 0px; margin-left: 0px;">
      <div class="col-md-12 offset-2" >
          <form action="">
            <div class="input-group" style="display: flex;">
              <div class="input-group date" id='picker' style="height: fit-content; padding: 0px 5px 0px 5px; width: 750px;">
                <input type="text" name="x" placeholder="datetime" class="form-control form-control-lg" style="margin: 0px;" />
                <span class="input-group-addon" >
                  <span class="glyphicon glyphicon-calendar"></span>	                 
                </span>
              </div>
                <b> <p style="margin-top: 7px;"><</p> </b>
                
                  <div class="input-group date" id='picker2'  style="height: fit-content; padding: 0px 5px 0px 5px; width: 750px;">
                    <input type="text" name="y" placeholder="datetime" class="form-control form-control-lg" style="margin: 0px;"
                    class="form-control form-control-lg" />
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>	                 
                    </span>
                  </div>
                  <div class="input-group-append">
                      <button class="btn-lg">Search</button>
                  </div>
              
            </div>
          </form>
      </div>
  </div>
</div>


<style>
#table-wrapper {
  position:relative;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;

}
  #table-scroll {
    max-height:600px;
    min-height:50px;
    overflow:scroll;  
    margin-top:20px;
  }
  #table-wrapper table {
    width:100%;
  
  }
  #table-wrapper table * {
    /*background:yellow;*/
    color:black;
  }
  #table-wrapper table thead th .text {
    position:absolute;   
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
    border:1px solid red;
  }
  td, th {
      padding: 0px;
      min-width: 0px; 
      }
      
  </style>

<div id="table-wrapper">
  <div id="table-scroll">
    <td colspan = "4"><b style="color: #337ab7;float: left;">Ocenené mýtne udalosti EETS</b></td>
    <td><p style="float: right; padding-right: 10px;">Filter: <input id="myInput_1" type="text" placeholder="Search.." style="margin: 0px; width: auto; text-align: left; padding: 0px;"></p></td>
    <br>
    <div class="dropdown">
      <button>Query</button>
      <div class="dropdown-content"><p>
                    WITH converted_timestamps AS (
                SELECT 
                    rtee.VEHICLE_ID,
                    rtee.EETS_PROVIDER_ID,
                    FROM_TZ(CAST(rtee.OBU_TIMESTAMP AS TIMESTAMP), 'UTC') AT TIME ZONE 'Europe/Prague' AS OBU_TIMESTAMP_PRAGUE,
                    rtee.toll_event_type_code,
                    rtee.OBU_TIMESTAMP
                FROM EETS_BE.EETS_RTE rtee
            )
            SELECT 
                v.EETS_PROVIDER_ID,
                ep.PROVIDER_ABBREVIATION,
                TO_CHAR(OBU_TIMESTAMP_PRAGUE, 'YYYY-MM-DD HH24') AS ROK_MES_HOD,
                TO_CHAR(OBU_TIMESTAMP_PRAGUE, 'DY', 'NLS_DATE_LANGUAGE = ''ENGLISH''') AS DAY,
                SUM(DECODE(toll_event_type_code, 1, 1, 2, -1, 3, 1)) AS MT
            FROM 
                converted_timestamps rtee
            INNER JOIN 
                EETS_ECM.VEHICLE v ON v.VEHICLE_ID = rtee.VEHICLE_ID
            INNER JOIN 
                EETS_ECM.EETS_PROVIDER ep ON ep.EETS_PROVIDER_ID = rtee.EETS_PROVIDER_ID
            WHERE 
                rtee.OBU_TIMESTAMP >= TRUNC(SYSDATE) - 2/24
            GROUP BY 
                TO_CHAR(OBU_TIMESTAMP_PRAGUE, 'YYYY-MM-DD HH24'),
                TO_CHAR(OBU_TIMESTAMP_PRAGUE, 'DY', 'NLS_DATE_LANGUAGE = ''ENGLISH'''),
                v.EETS_PROVIDER_ID,
                ep.PROVIDER_ABBREVIATION
            ORDER BY 
                TO_CHAR(OBU_TIMESTAMP_PRAGUE, 'YYYY-MM-DD HH24') DESC,
                v.EETS_PROVIDER_ID,
                ep.PROVIDER_ABBREVIATION ;

              </p>
      </div>
    </div>
      <table id="tab1" class="table table-hover " style="  white-space: nowrap; border: ridge;">
        <thead>
        <tr style="background-color: darkgrey;">
          <th>PROVIDER_ABBREVIATION</th>
          <th>ROK_MES_HOD</th>
          <th>DAY</th>
          <th>MT</th>


        </tr></thead>
        <tbody >
          {% for row in sections %}

          <tr align="center">
            {% comment %} <th>{{ forloop.counter }}</th> {% endcomment %}
            <th >{{ row.PROVIDER_ABBREVIATION }}</th> 
            <th >{{ row.ROK_MES_HOD }}</th> 
            <th >{{ row.DAY }}</th> 
            <th >{{ row.MT }}</th> 
        
          {% endfor %}

        </tr>
      </tbody> 
      </table>
  </div>
  <button id="createXLSX">Export XLSX</button>
</div>
  

    <script type="text/javascript">
       $('#picker').datetimepicker({
  format: 'DD-MM-YYYY HH:mm:ss'
      });
      $('#picker2').datetimepicker({
        format: 'DD-MM-YYYY HH:mm:ss'
      });
    </script>

<script>
  $(document).ready(function(){
    $("#myInput_1").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#tab1 tbody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
    $("#myInput_2").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#tab2 tbody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });

  // export excel 
  var btn = document.getElementById("createXLSX");
  var fileName = "export";
  var fileType = "xlsx";
  btn.addEventListener("click", function() {
    var table = document.getElementById("tab1");
    var wb = XLSX.utils.table_to_book(table, {sheet: "Sheet JS"});
    return XLSX.writeFile(wb, null || fileName + "." + (fileType || "xlsx"));
  });
  
  var btn = document.getElementById("createXLSX_2");
  var fileName1 = "export_bd";
  var fileType = "xlsx";
  btn.addEventListener("click", function() {
    var table = document.getElementById("tab2");
    var wb = XLSX.utils.table_to_book(table, {sheet: "Sheet JS"});
    return XLSX.writeFile(wb, null || fileName1 + "." + (fileType || "xlsx"));
  });
  </script>


{% endblock %}