{% extends "eets/base.html" %}

{% block body %}

<div class="jumbotron border shadow" style="background-color: #337ab7; padding: 20px;">
  <div class="row" style="margin-right: 0px; margin-left: 0px;">
      <div class="col-md-12 offset-2" >
          <form action="">
            <div class="input-group" style="display: flex;">
              <div class="input-group date" id='picker' style="height: fit-content; padding: 0px 5px 0px 5px; width: 750px;">
                <input type="text" name="x" placeholder="datetime" class="form-control form-control-lg" style="margin: 0px;" />
                <span class="input-group-addon" >
                  <span class="glyphicon glyphicon-calendar"></span>	                 
                </span>
              </div>
                <b> <p style="margin-top: 7px;"><</p> </b>
                
                  <div class="input-group date" id='picker2'  style="height: fit-content; padding: 0px 5px 0px 5px; width: 750px;">
                    <input type="text" name="y" placeholder="datetime" class="form-control form-control-lg" style="margin: 0px;"
                    class="form-control form-control-lg" />
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>	                 
                    </span>
                  </div>
                  <div class="input-group-append">
                      <button class="btn-lg">Search</button>
                  </div>
              
            </div>
          </form>
      </div>
  </div>
</div>


<style>
#table-wrapper {
  position:relative;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;

}
  #table-scroll {
    max-height:283px;
    min-height:50px;
    overflow:scroll;  
    margin-top:20px;
  }
  #table-wrapper table {
    width:100%;
  
  }
  #table-wrapper table * {
    /*background:yellow;*/
    color:black;
  }
  #table-wrapper table thead th .text {
    position:absolute;   
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
    border:1px solid red;
  }
  td, th {
      padding: 0px;
      min-width: 0px; 
      }
      
  </style>

<div id="table-wrapper">
  <div id="table-scroll">
    <td colspan = "4"><b style="color: #337ab7;float: left;">All billing data that do not have a confirmation response or are processed unsuccessfully.</b></td>
    <td><p style="float: right; padding-right: 10px;">Filter: <input id="myInput_1" type="text" placeholder="Search.." style="margin: 0px; width: auto; text-align: left; padding: 0px;"></p></td>

      <table id="tab1" class="table table-hover " style="  white-space: nowrap; border: ridge;">
        <thead>
        <tr style="background-color: darkgrey;">
          <th>Nm.</th>
          <th>INTEGRATION_ITEM_ID</th>
          <th>INTEGRATION_LOG_ID</th>
          <th>VERSION</th>
          <th>EETS_INT_LOG_STATUS</th>
          <th>EXCEPTION_LIST</th>
          <th>PROVIDER</th>
          <th>EXCEPTION_LIST_VALID_FROM</th> 
          <th>EXCEPTION_LIST_VALID_TO</th>
          <th>STARTED_ON</th>
          <th>ACK_FILE_CREATED_ON</th>
          <th>PROCESS_DATE_TIME</th>

        </tr></thead>
        <tbody >
          {% for row in ack_None %}

          <tr align="center">
            <th>{{ forloop.counter }}</th>
            <th ><a href="https://bo.internal.example.com/ecm/eetsimport/detail/?integrationLogId={{row.INTEGRATION_LOG_ID}}" target="_blank"> <i style='color: forestgreen;'> {{ row.EXCEPTION_LIST}} {{row.INTEGRATION_LOG_ID}} </i></a></th>   
            <th style="color: red;">{{ row.INTEGRATION_LOG_ID }}</th>
            <th style="color: red;">{{ row.VERSION }}</th>
            <th style="color: red;">{{ row.EETS_INT_LOG_STATUS}}</th> 
            <th style="color: red;">{{ row.EXCEPTION_LIST}}</th> 
          <th ><a href="https://bo.internal.example.com/ecm/eetsprovider/detail/?id={{row.PROVIDER_ID}}" target="_blank"> <i style='color: forestgreen;'> {{ row.PROVIDER}} </i></a></th>    
            <th style="color: red;">{{ row.EXCEPTION_LIST_VALID_FROM}}</th> 
            <th style="color: red;">{{ row.EXCEPTION_LIST_VALID_TO}}</th> 
            <th style="color: red;">{{ row.STARTED_ON}}</th> 
            <th style="color: red;">{{ row.ACK_FILE_CREATED_ON}}</th> 
            <th style="color: red;">{{ row.PROCESS_DATE_TIME}} </th> 
          {% endfor %}

        </tr>
      </tbody> 
      </table>
  </div>
  <button id="createXLSX">Export XLSX</button>
</div>
  
  <div id="table-wrapper">
    <div id="table-scroll">
      <td colspan = "4"><b style="color: #337ab7;float: left;">All billing data generated in the last three days or searched by date and time.</b></td>
      <td><p style="float: right; padding-right: 10px;">Filter: <input id="myInput_2" type="text" placeholder="Search.." style="margin: 0px; width: auto; text-align: left; padding: 0px;"></p></td>
      <br>
      <div class="dropdown">
        <button>Query</button>
        <div class="dropdown-content"><p>
          SELECT
                eets_integration_log_item_id,
                ite.integration_log_id,
                ite.VERSION,
                il.eets_int_log_status_code
                || '-'
                || il.eets_int_log_status_name AS eets_int_log_status,
                msl.ede_message_type_code
                || '-'
                || msl.ede_message_type_name AS ede_message,
                exl.exception_list_type_code
                || '-'
                || exl.exception_list_type_name AS exception_list,
                ite.eets_provider_id
                || '-'
                || p.provider_number
                || '-'
                || p.provider_abbreviation AS provider,
                TO_CHAR(from_tz(CAST(exception_list_valid_from AS TIMESTAMP), 'GMT') AT TIME ZONE 'CET', 'DD-MM-YYYY HH24:MI:SS') AS exception_list_valid_from
                ,
                TO_CHAR(from_tz(CAST(exception_list_valid_to AS TIMESTAMP), 'GMT') AT TIME ZONE 'CET', 'DD-MM-YYYY HH24:MI:SS') AS exception_list_valid_to
                ,
                TO_CHAR(from_tz(CAST(started_on AS TIMESTAMP), 'GMT') AT TIME ZONE 'CET', 'DD-MM-YYYY HH24:MI:SS') AS started_on,
                log_file_created_on,
                TO_CHAR(from_tz(CAST(ack_file_created_on AS TIMESTAMP), 'GMT') AT TIME ZONE 'CET', 'DD-MM-YYYY HH24:MI:SS') AS ack_file_created_on
                ,
                TO_CHAR(from_tz(CAST(process_date_time AS TIMESTAMP), 'GMT') AT TIME ZONE 'CET', 'DD-MM-YYYY HH24:MI:SS') AS process_date_time
                ,
                CAST(ack_file_created_on AS TIMESTAMP) - CAST(started_on AS TIMESTAMP) AS "diff_seconds Create and ACK",
                round((ack_file_created_on - started_on) * 24 * 60, 1) AS diff_minutes,
                ite.MESSAGE_NUMBER, APDU_IDENTIFIER,
                TO_CHAR(from_tz(CAST(EXPORTED_ON AS TIMESTAMP), 'GMT') AT TIME ZONE 'CET', 'DD-MM-YYYY HH24:MI:SS') AS EXPORTED_ON

            FROM
                eets_ecm.eets_integration_log_item   ite
                LEFT JOIN eets_ecm.eets_int_log_status_l       il ON ite.eets_il_status_code = il.eets_int_log_status_code
                                                              AND il.language_code = 'SK'
                LEFT JOIN eets_ecm.exception_list_type_l       exl ON ite.exception_list_type_code = exl.exception_list_type_code
                                                                AND il.language_code = 'SK'
                LEFT JOIN eets_ede.ede_message_type_l          msl ON ite.ede_message_type_code = msl.ede_message_type_code
                                                            AND msl.language_code = 'SK'
                LEFT JOIN eets_ecm.eets_provider               p ON ite.eets_provider_id = p.eets_provider_id
                LEFT JOIN eets_ede.ede_log ack on  ite.MESSAGE_NUMBER =ack.IN_RESPONSE_TO_APDU_IDENTIFIER 
            WHERE
                exl.exception_list_type_code = 1
                AND started_on >= ( SYSDATE - 7 )
                or ite.EDE_MESSAGE_TYPE_CODE=3 AND started_on >= ( SYSDATE - 7 )
            ORDER BY
                eets_integration_log_item_id DESC
                </p>
        </div>
      </div>
        <table id="tab2" class="table table-hover " style="  white-space: nowrap; border: ridge;">
          <thead>
          <tr style="background-color: darkgrey; ">
            <th>INTEGRATION_ITEM_ID</th>
            <th>INTEGRATION_LOG_ID</th>
            <th>VERSION</th>
            <th>EETS_INT_LOG_STATUS</th>
            <th>EXCEPTION_LIST</th>
            <th>PROVIDER</th>
            <th>EXCEPTION_LIST_VALID_FROM</th> 
            <th>EXCEPTION_LIST_VALID_TO</th>
            <th>STARTED_ON</th>
            <th>ACK_FILE_CREATED_ON</th>
            <th>PROCESS_DATE_TIME</th>
            <th>MESSAGE_NUMBER</th>
            <th>APDU_IDENTIFIER</th>
            <th>EXPORTED_ON</th>
            <th>DIFFERENCE</th>


          </tr></thead>
          <tbody>
            {% for row in ack %}

            {% if row.ACK_FILE_CREATED_ON == None %}
            <tr align="center">
              <th ><a href="https://bo.internal.example.com/ecm/eetsimport/detail/?integrationLogId={{row.INTEGRATION_LOG_ID}}" target="_blank"> <i style='color: forestgreen;'> {{ row.EXCEPTION_LIST}} {{row.INTEGRATION_LOG_ID}} </i></a></th>   
              <th style="color: red;">{{ row.INTEGRATION_LOG_ID }}</th> 
              <th style="color: red;">{{ row.VERSION }}</th> 
              <th style="color: red;">{{ row.EETS_INT_LOG_STATUS}}</th> 
              <th style="color: red;">{{ row.EXCEPTION_LIST}}</th> 
            <th ><a href="https://bo.internal.example.com/ecm/eetsprovider/detail/?id={{row.PROVIDER_ID}}" target="_blank"> <i style='color: forestgreen;'> {{ row.PROVIDER}} </i></a></th>    
              <th style="color: red;">{{ row.EXCEPTION_LIST_VALID_FROM}}</th> 
              <th style="color: red;">{{ row.EXCEPTION_LIST_VALID_TO}}</th> 
              <th style="color: red;">{{ row.STARTED_ON}}</th> 
              <th style="color: red;">{{ row.ACK_FILE_CREATED_ON}}</th> 
              <th style="color: red;">{{ row.PROCESS_DATE_TIME}} </th> 
              <th style="color: red;">{{ row.MESSAGE_NUMBER}} </th> 
              <th style="color: red;">{{ row.APDU_IDENTIFIER}} </th> 
              <th style="color: red;">{{ row.EXPORTED_ON}} </th> 
              <th style="color: red;">{{ row.DIFF_MINUTES}} m </th>    

            {% else %}

          <tr align="center">
            <th ><a href="https://bo.internal.example.com/ecm/eetsimport/detail/?integrationLogId={{row.INTEGRATION_LOG_ID}}" target="_blank"> <i style='color: forestgreen;'>{{ row.EXCEPTION_LIST}} {{row.INTEGRATION_LOG_ID}} </i></a></th>   
            <th >{{ row.INTEGRATION_LOG_ID }}</th>   
            <th >{{ row.VERSION }}</th>   
            <th >{{ row.EETS_INT_LOG_STATUS}}</th> 
            <th >{{ row.EXCEPTION_LIST}}</th> 
          <th ><a href="https://bo.internal.example.com/ecm/eetsprovider/detail/?id={{row.PROVIDER_ID}}" target="_blank"> <i style='color: forestgreen;'> {{ row.PROVIDER}} </i></a></th>    
            <th >{{ row.EXCEPTION_LIST_VALID_FROM}}</th> 
            <th >{{ row.EXCEPTION_LIST_VALID_TO}}</th> 
            <th >{{ row.STARTED_ON}}</th> 
            <th >{{ row.ACK_FILE_CREATED_ON}} </th> 
            <th >{{ row.PROCESS_DATE_TIME}} </th> 
            <th >{{ row.MESSAGE_NUMBER}}</th>     
            <th >{{ row.APDU_IDENTIFIER}}</th>     
            <th >{{ row.EXPORTED_ON}}</th>
            <th >{{ row.DIFF_MINUTES}} m </th>       


            {% endif %}

            {% endfor %}

          </tr>
        </tbody> 
        </table>
    </div>
    <button id="createXLSX_2">Export XLSX</button>
  </div>

    <script type="text/javascript">
       $('#picker').datetimepicker({
  format: 'DD-MM-YYYY HH:mm:ss'
      });
      $('#picker2').datetimepicker({
        format: 'DD-MM-YYYY HH:mm:ss'
      });
    </script>

<script>
  $(document).ready(function(){
    $("#myInput_1").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#tab1 tbody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
    $("#myInput_2").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#tab2 tbody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });

  // export excel 
  var btn = document.getElementById("createXLSX");
  var fileName = "export_bd_error";
  var fileType = "xlsx";
  btn.addEventListener("click", function() {
    var table = document.getElementById("tab1");
    var wb = XLSX.utils.table_to_book(table, {sheet: "Sheet JS"});
    return XLSX.writeFile(wb, null || fileName + "." + (fileType || "xlsx"));
  });
  
  var btn = document.getElementById("createXLSX_2");
  var fileName1 = "export_bd";
  var fileType = "xlsx";
  btn.addEventListener("click", function() {
    var table = document.getElementById("tab2");
    var wb = XLSX.utils.table_to_book(table, {sheet: "Sheet JS"});
    return XLSX.writeFile(wb, null || fileName1 + "." + (fileType || "xlsx"));
  });
  </script>


{% endblock %}