<!DOCTYPE html>
<html lang="sk">

<head>
    {% load static %}
    {% block head %}
    <meta charset="utf-8">

    <title>TPP</title>
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <meta name="author" content="Milos User">
    <meta name="keywords" content="SEM, Django, Python, WebApp">
    <meta name="description" content="Creating a application using Python-Django">
    <!-- <meta http-equiv="refresh" content="240"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- <script type="text/javascript" src="{% static 'weblog_app/livesearch.js' %}"></script> -->
    <!-- <style type="text/css">
                #livesearch
                {
                    margin: 0px;
                    width: 194px;
                    background-color: white;
                    color: black;
                    position: absolute;
                    
                }
                #txt1
                {
                    margin: 0px;
                    /* color: red; */
                }
               
        </style> -->


    {% endblock %}
</head>

<body>

    <div class="wrapper fadeInDown">
        <div id="formContent">

{% for message in messages %}
<div class="alert alert-danger" role="alert">
    {{message}}
</div>
{% endfor %}

<h1 style="text-align: center; color:#286090;"> Create an account</h1>

<div style="margin: auto;
    width: 80%;
    /* border: 3px solid ; */
    padding: 10px;
    text-align: center;">

    <form action="/signup" method="post" style="text-align: center;">

        {% csrf_token %}

        <label style="text-align: center; display: block;" for="">Username</label>
        <input type="text" id="username" name="username" placeholder="Username" required>
        <br>

        <label style="text-align: center; display: block;" for="">First Name</label>
        <input type="text" id="fname" name="fname" placeholder="Name" required>
        <br>

        <label style="text-align: center; display: block;" for="">Last Name</label>
        <input type="text" id="lname" name="lname" placeholder="Surname" required>
        <br>

        <label style="text-align: center; display: block;" for="">Email Addres</label>
        <input style="
        background-color: #f6f6f6;
        border: none;
        color: #0d0d0d;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        width: 85%;
        border: 2px solid #f6f6f6;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;" 
        type="email" id="email" name="email" placeholder="email" required>
        <br>

        <label style="text-align: center; display: block;" for="">Password</label>
        <input style="
        background-color: #f6f6f6;
        border: none;
        color: #0d0d0d;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        width: 85%;
        border: 2px solid #f6f6f6;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;" 
        type="password" id="pass1" name="pass1" placeholder="password" required>
        <br>

        <label style="text-align: center; display: block;" for="">Confirm your Password</label>
        <input style="
        background-color: #f6f6f6;
        border: none;
        color: #0d0d0d;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        width: 85%;
        border: 2px solid #f6f6f6;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;" 
        type="password" id="pass2" name="pass2" placeholder="password" required>
        <br>

        <!-- <label style="text-align: center; display: block;" for="" >CONTROL PIN</label>
        <input style="
        background-color: #f6f6f6;
        border: none;
        color: #0d0d0d;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        width: 85%;
        border: 2px solid #f6f6f6;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;" 
        type="password" id="PIN" name="PIN" placeholder="PIN" required>
        <br> -->

        <button style="margin-bottom: 15px;" type="submit" class="btn btn-primary">Create</button>

    </form>
    <div>
        <button class="btn btn-success">
            <a href="{% url 'work:signin' %}" style="color: white; text-decoration: none;">LogIn</a>
        </button>
    </div>

</div>

<script>
    console.log("author: user@example.com");
</script>




</body>